h1.title {
  font-size: xx-large !important;
  text-align: center !important;
}

.main-menu {
  position: inherit;
  visibility: inherit;
}

.play {
  position: absolute;
  visibility: hidden;
}

.references {
  position: absolute;
  visibility: hidden;
}

.game-button {
  height: 16em;
}

.dark.game-button {
  background: darkslategray;
}

.dark.game-button:hover {
  background: darkcyan;
}
